* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-left: 150px;
  line-height: 2;
}

p {
}

.zaciname {
  font-family: "Snowburst One", system-ui;
  font-weight: 400;
  font-style: normal;
  margin-top: 150px;
  margin-left: 550px;
  font-size: 36px;
}
